body{
    font-size: 18px;
    color: white;
    line-height: 1.6;
    margin:  0 ;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover;
    line-height: normal;
}
*::after,
*::before{
    box-sizing: border-box ;
}
.container{
    width: 100%;
    max-width: 1136px;
    margin: 0 auto;
}


/* Main*/
.wrapper{
    min-height: 100%;
    overflow:scroll ;
    width: 100%;
}
.main{
    width: 100%;
}
.main_text{
    padding: 37px 180px 0 0 ;
    display: flex;
    max-width: 500px;
    width: 100%;
    justify-content:space-between;
    margin-bottom: 250px;
    padding-left: 10px;

}
.main_title{
    font-weight: 400;
}
.pad{
}
.container_abs{
    position:relative;
    width: 100%;
    max-width: 1536px;
    margin: 0 auto;
    
}
.main_wild{
    font-size: 170px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    max-width: 1136px;
    width: 100%;
   font-weight: 700;
   left: 50%;
   transform: translateX(-50%);
    padding-top: 65px;
    opacity: 0.5;

}
.main_photo{
    position: absolute;
    right: 106px;
    top: 140px;
    
}
.main_photos{
    width: 100%;

}

.main__adv{
    max-width: 500px;
    width: 100%;
    padding-left: 10px;   
}
.main_adv_item{
    display:flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
}

.main_adv_item:last-child{
    margin-bottom: 30px;
}

.main_circle {
	width: 13px;
	height: 13px;
	background: linear-gradient(45deg, #8b00bd,#d403da);
	-moz-border-radius: 6.5px;
	-webkit-border-radius: 6.5px;
	border-radius: 6.5px;
    max-width: 13px;
    position: absolute;
    left:0;
    top:50%;
    transform: translateY(-50%);
    margin-right:10px ;
}
.main_adv_text{
    padding-left: 25px;
}
.main_btn{
    outline: 0;
  cursor: pointer;
  border: none;
  border-bottom: 5px solid #bd02b5;
  background: linear-gradient( 0deg, #8f0199, #bd02b5);
  color: #fff;
  font-size: 16px;
  font-family: sans-serif;
  text-transform: uppercase;
  padding: 20px 87px;
  border-radius: 100px 100px 100px 100px / 200% 200%;
  
  text-shadow: 1px 1px 2px gray, 0 0 1em #bd02b5;
}

/*Info*/

.container_info{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
/*------------auditorium----------------------*/
.auditorium{
    padding: 110px 0 0 0 ;
}
.title{
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.purple{
    color: #cc00cc;
}
.auditorum__items{
    margin-top: 107px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}
.auditorum__item{
    padding:0 5px ;
    padding-top: 50px;
    width: 100%;
    max-width: 340px;
}
.auditorum__item:nth-child(2){
    padding-top: 10px;
    
}
.auditorum__item:last-child{
    padding-top: 75px; 
}
.auditorum__item_text{
    text-align: center;
}
.auditorum__photo{
    display: block;
    margin: 0 auto ;
    margin-bottom: 50px;
}
.auditorum__item_title{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.auditorum__item_subtitle{
    font-size: 16px;
    font-weight: 400px;
    opacity: 0.8;
}
/*---------this-----------*/
.this__title{
    margin-bottom: 94px;
}


.this__circle{
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.this__circle_item{
    position: absolute;
    top:2.3%;
    left:23%;
    text-align: center;
}
.this_circle{
    width: 26px;
	height: 26px;
	background: linear-gradient(45deg, #8b00bd,#d403da);
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
    max-width: 26px;
    margin: 0 auto;
    margin-bottom: 5px;
    
}
.this__circle_title{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: none;
}
.circle1{
    top:9%;
    left:56%
}
.circle2{
    top:35%;
    left:5.8%
}

.circle3{
    top:28.5%;
    left:45%
}
.circle4{
    top:40%;
    left:71.5%
}
.circle5{
    top:56%;
    left:26%
}
.circle6{
    top:80%;
    left:15%
}
.circle7{
    top:70%;
    left:55%
}
.header{
    text-align: center;
    padding-top: 28px;
}
.this_btn{
    text-align: center;
    margin: 54px auto 131px;
}
.subtitle{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 13px;
}


/*-------skills------------------*/
.skills__text{
    font-size: 14px;
    font-weight: 200;
    opacity: 0.6;
}
.skills__group{
    padding-top: 100px;
}
.skills__box{
    height:175px;
    width: 430px;
    border-radius: 10px;
    border: 1px solid #8b00bd;
}

.skills__content{
    padding-left: 60px;
    padding-top: 20px;
}

.skills_item{
    position: relative;
}

.skills_items{
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
    padding-left: 75px;
    padding-right: 10px;
}

.skills_items:last-child{
    margin-bottom: 130px;
}

.skills__title{
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 3px;
}
.skills__number{
    font-size: 100px;
    font-weight: bold;
    background: linear-gradient( #cc00cc 60%,#6600cc);
    -webkit-background-clip: text;
    font-stretch: extra-expanded;
    -webkit-text-fill-color: transparent;
    display: table;
    position: absolute;
    left:-70px;
    bottom: -70px;
}
/*--------------education-------------*/


.education__items{
    padding:5px;
    display: flex;
    justify-content: space-between;
}
.education__item{
    text-align: center;
    width: 100%;
    max-width: 300px;
    position: relative;
}

.education__num{
    margin-top: 100px;
    font-size: 300px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
   font-weight: bold;
    z-index: 1;
    opacity: 0.5;
    line-height: 90%;
}

.education__title{
    padding-left: 5px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}
.education__img{
    width: 100%;
    position: absolute;
    z-index: 10px;
    bottom:18%;
    left:50%;
    transform: translateX(-50%);
}
.education__items:last-child{
    padding-left: 220px;
    padding-right: 220px;
    margin-bottom: 70px;
}


/*------------programm-------*/
.program{
    display: flex;
    margin-top: 160px;
}
.rate{
    padding-left: 5px;
    padding-right: 5px;
}


/*------------------------------------------*/

.accordions{
    width: 100%;
    margin: 120px auto;
    max-width: 1030px;
    padding-left: 5px;
    padding-right: 5px;
}
.accordion {
    width: 100%;
    height: auto;
    margin: 20px 0;
  }
  
  .accordion__slot {
    width: 100%;
    display: block;
  }
  
  .accordion__button {
    border-radius: 5px;
    color: #292929;
    cursor: pointer;
    
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    text-transform: uppercase;
    
    font-size: 20px;
    padding: 42px 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: color 500ms ease;
    user-select: none;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    position: relative;
    letter-spacing: 1px;
    font-weight: 600;
  }
  
  .accordion__button::after {
    transition: transform 100ms;
    
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    transform: translate(-50%, -50%) rotate(0deg);
    top: 50%;
    right: 10px;
    content: "";
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath d='M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z'/%3E%3C/svg%3E");
  }
  
  .accordion__button-active::after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  .accordion__button-active {
    color: white;
    background-color: #8f0199;
  }
  
  .accordion__panel {
    overflow: hidden;
    max-height: 0;
    visibility: hidden;
    padding: 0 5px;
    transition: visibility 500ms, max-height 600ms;
    transition-timing-function: cubic-bezier(0.694, 0.0482, 0.335, 1);
  }
  .accordion__panel-active {
    max-height: var(--height, 0);
    visibility: visible;
  }
  
  .accordion-panel__content {
    padding-left: 53px;
    background: white;
    font-size: 17px;
    font-weight: 500px;
    color: black;
    padding: 20px;
    padding-left: 53px;
    border-radius: 10px;
    line-height: 1.5;
    margin: 10px 0;
    user-select: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  }
  

/*----------------rate-----------*/
.rate__items{
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    margin-top: 150px;
}
.rate__simple{
    position: relative;
    height: 820px;
    width: 380px;
    border-radius: 20px;
    background-color:  white;
    border: 6px solid #666666;
}
.rate__back{
    position: absolute;
    z-index: -1;
    background-color: #666666;
    width: 313px;
    height: 860px;
    top: -20px;
    left: 37px;
    border-radius: 20px;
}
.rate__content{
    position: absolute;
    padding-top: 63px;
    padding-left: 50px;
}
.rate__special{
    border: 6px solid #cc00cc;
}
.rate__back__sp{
    
    background-color: #cc00cc;
}
.rate__title{
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: #666666;
    padding-left: 32px;

}
.rate__title-prp{
    padding-left: 5px;
    color: #cc00cc;
}
.rate__info{
    color: #000033;
    font-size: 16px;
    font-weight: 500;
    margin-top: 46px;

}
.rate__info> li{
    display:inline-block;
    display:flex;
    margin-top:20px;
  }
.rate__grey{
    color: #999999;
    border-top: 2px solid #999999;
    margin-top: 40px;
}
.rate__price{
text-align: center;
margin-top: 40px;
line-height: 30px;

}
.rate__price2{
    text-align: center;
    margin-top: 85px;
    line-height: 30px;
    
    }
.rate__price__new{
    color: #000033;
    font-size: 35px;
    font-weight: bold;
    
}
.rate__price__old{
    text-decoration: line-through;
    color: #999999;
    font-size: 20px;
    font-weight: 400;
    margin: 0 auto;

}
.rate__btn {
    outline: 0;
  cursor: pointer;
  border: none;
  border-bottom: 3px solid #bd02b5;
  
  font-size: 13px;
  font-family: sans-serif;
  text-transform: uppercase;
  padding: 15px 80px;
}
.rate__btn2{
    text-align: center;
    margin: 10px auto ;
}
/*--------------------footer-----------*/
.foot{
    margin-top: 165px;
    max-width: 100%;
    background-color:#1a082d;
}
.footer__items{
    display: flex;
    justify-content: space-between;
    padding-top: 87px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 35px;
}
.footer__docs a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
    font-weight: 200px;
    display: flex;
    flex-flow: column wrap;
    opacity: 0.8;
}
.footer__sm{
    text-align: right;
    font-size: 18px;
    font-weight: 200px;
    display: flex;
    flex-flow: column wrap;
    opacity: 0.8;
}  
.footer__icons{
    margin-top: 20px;
}
.footer__icons a{
    margin-left: 20px;
}
/*--------------form-------------*/
.login-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 800px;
    padding: 40px 70px;
    transform: translate(-50%, -50%);
    background: rgba(34, 0, 64,.9);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(34, 0, 64,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
  }
  
  .login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
.suptitle__form{
    opacity: 0.8;
    font-weight: 200;
    font-size: 16px;
    text-align: center;
    margin-bottom: 35px;
}